:root {
  --primary-color: #2e5086; /* Blue */
  --placeholder-color: #fff; /* Green */
  --tertiary-color: #9ac8cd; /* Red */
  --text-color: #0e46a3; /* Yellow */
  --quinary-color: #6c757d; /* Gray */
}

.pointer {
  cursor: pointer;
}

.full-height {
  position: fixed;
  top: 0;
  bottom: 0;
  overflow: hidden;
}

.link {
  text-decoration: none;
  color: black;
}

.table-container {
  width: 93.5%;
  height: 100%;
  display: flex;
  justify-content: center; /* Center the table vertically */
  /* Add some padding */
  margin: 2rem 2rem 0 2rem;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
  border-radius: 6px;
}

.table-responsive {
  width: 100%; /* Ensure the table takes the full width of the container */
  color: white;
}

.table-head {
  color: var(--text-color);
}

.table-striped > tbody > tr:nth-of-type(odd) > * {
  --bs-table-color-type: Yellow;
  --bs-table-bg-type: var(--bs-table-striped-bg);
}

.table-striped-columns > :not(caption) > tr > :nth-child(even) {
  --bs-table-color-type: var(--bs-table-striped-color);
  --bs-table-bg-type: var(--bs-table-striped-bg);
}

.pagination-item {
  list-style-type: none;
  padding: 3px 7px;
  border-radius: 4px;
  background-color: var(--placeholder-color);
}

.next-link {
  padding: 3px 7px;
  list-style-type: none;
  border-radius: 4px;
  background-color: var(--placeholder-color);
}

.prev-link {
  padding: 3px 7px;
  list-style-type: none;
  border-radius: 4px;
  background-color: var(--placeholder-color);
}

.active-page {
  background-color: var(--tertiary-color);
  color: black;
  border: 1px solid white;
}

.width-90 {
  width: 90vw;
}
.btn-danger {
  border: none;
  padding: 0.5rem 0.9rem;
  border-radius: 8px;
}

.btn-primary {
  background-color: var(--text-color);
  border: none;
  padding: 0.5rem 0.9rem;
  border-radius: 8px;


}

.btn-primary:focus,
.btn-secondary:focus,
.btn-primary:active,
.btn-secondary:active {
  outline: none; /* Remove outline */
  box-shadow: none; /* Remove shadow on focus and click */
}

.btn-secondary {
  background-color: var(--tertiary-color);
  border: none;
  padding: 0.5rem 0.9rem;
  border-radius: 8px;
  outline: none;
}
body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
